<main class="row">
  <div class="col-xl-12">
    <div class="card my-3">
      <div class="card-header bg-white text-black">
        <h5 class="m-0">Informações Gerais</h5>
      </div>

      <div class="card-body">
        <p><strong>Usuário: </strong>{{ auditoria.usuario }}</p>
        <p><strong>Caso de Uso: </strong>{{ auditoria.casoDeUso }}</p>
        <p><strong>Data de Cadastro: </strong>{{ auditoria.dataCadastro }}</p>
        <p style="overflow: auto">
          <strong>Conteúdo: </strong>{{ auditoria.conteudo }}
        </p>
      </div>
    </div>
  </div>
</main>
