<top-cabecalho
  [itens]="[recipiente, acao]"
  [recipiente]="acao + ' ' + recipiente"
  [entidade]="recipiente"
></top-cabecalho>

<main class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header bg-primary p-1"></div>

      <div class="card-body" *ngIf="!carregando">
        <form
          class="formulario"
          name="editForm"
          role="form"
          novalidate
          (ngSubmit)="salvar()"
          [formGroup]="editForm"
        >
          <section class="row">
            <div class="col-md-12">
              <label for="campo_nome" class="label-campo">
                <strong>Nome:</strong> <span class="text-danger">*</span></label
              >
              <div class="p-input-icon-right w-100">
                <input
                  pInputText
                  id="campo_nome"
                  name="nome"
                  formControlName="nome"
                  type="text"
                  maxlength="50"
                  class="p-inputtext-sm"
                  [class.ng-invalid]="editForm.get('nome')!.invalid"
                  [class.ng-dirty]="editForm.get('nome')!.touched"
                />
                <i
                  *ngIf="
                    editForm.get('nome')!.invalid &&
                    editForm.get('nome')!.touched
                  "
                  class="pi pi-exclamation-circle text-danger"
                ></i>
              </div>
              <small
                *ngIf="editForm.get('nome')!.errors?.['required'] && editForm.get('nome')!.touched"
                class="p-error block"
                >Este campo é obrigatório</small
              >
              <small
                *ngIf="editForm.get('nome')!.errors?.['minlength'] && editForm.get('nome')!.touched"
                class="p-error block"
                >Este campo deve ter pelo menos 2 caracteres</small
              >
              <small
                *ngIf="editForm.get('nome')!.errors?.['maxlength']"
                class="p-error block"
                >Este campo não pode ter mais de 50 caracteres.</small
              >
            </div>
          </section>

          <section class="row">
            <div class="col-md-12 d-flex flex-column">
              <label for="campo_tipoDocumento" class="label-campo">
                <strong>Tipo de Documento:</strong>
                <span class="text-danger">*</span></label
              >
              <div class="p-input-icon-right">
                <p-dropdown
                  inputId="campo_tipoDocumento"
                  name="tipoDocumento"
                  formControlName="tipoDocumento"
                  [options]="tiposDocumento"
                  placeholder="Selecione o tipo de documento do template"
                  [filter]="true"
                  filterBy="nome"
                  filterPlaceholder="Procurar Tipo de Documento"
                  emptyFilterMessage="Nenhum resultado encontrado"
                  dataKey="id"
                  [class.ng-invalid]="editForm.get('tipoDocumento')!.invalid"
                  [class.ng-dirty]="editForm.get('tipoDocumento')!.touched"
                >
                  <ng-template let-item pTemplate="selectedItem">
                    {{ item.nome }}
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    {{ item.nome }}
                  </ng-template>
                </p-dropdown>
                <i
                  *ngIf="editForm.get('tipoDocumento')!.errors?.['required'] && editForm.get('tipoDocumento')!.touched"
                  id="filtroIcone"
                  class="pi pi-exclamation-circle text-danger"
                ></i>
              </div>
              <small
                *ngIf="editForm.get('tipoDocumento')!.errors?.['required'] && editForm.get('tipoDocumento')!.touched"
                class="p-error block"
                >Este campo é obrigatório</small
              >
            </div>
          </section>

          <section class="row">
            <label class="label-campo">
              <strong>Template:</strong>
              <span class="text-danger">*</span></label
            >
            <div
              class="ckeditor p-float-label col-md-12"
              [ngClass]="{
                invalido:
                  editForm.get('template')!.invalid &&
                  editForm.get('template')!.touched
              }"
            >
              <ckeditor
                name="template"
                formControlName="template"
                [editor]="Editor"
                [config]="editorConfig"
                (ready)="onReady($event)"
              ></ckeditor>
              <i
                *ngIf="
                  editForm.get('template')!.invalid &&
                  editForm.get('template')!.touched
                "
                class="pi pi-exclamation-circle text-danger ckeditor-exclamacao-icone"
              ></i>
            </div>
            <small
              *ngIf="editForm.get('template')!.errors?.['required'] && editForm.get('template')!.touched"
              class="p-error block"
              >Este campo é obrigatório</small
            >
            <small
              *ngIf="editForm.get('template')!.errors?.['minlength'] && editForm.get('template')!.touched"
              class="p-error block"
              >Este campo deve ter pelo menos 2 caracteres</small
            >
            <small
              *ngIf="editForm.get('template')!.errors?.['maxlength']"
              class="p-error block"
              >Este campo não pode ter mais de 5000 caracteres.</small
            >
            <p>{{ texto_template }}</p>
          </section>

          <p-accordion>
            <p-accordionTab header="Lista de Variáveis" [selected]="true">
              <strong>$usuario$</strong> - Recupera o usuário logado <br />
              <strong>$orgao$</strong> - Recupera o órgão do usuário logado
              <br />
              <strong>$setor$</strong> - Recupera o usuário do usuário logado
              <br />
            </p-accordionTab>
          </p-accordion>
        </form>
      </div>

      <div class="card-footer bg-white text-end">
        <button
          id="bto-voltar"
          type="button"
          class="btn btn-white fa-lg me-2"
          (click)="cancelar()"
        >
          <i class="fa fa-arrow-left fa-lg me-2"></i>
          Voltar
        </button>
        <button
          id="bto-salvar"
          type="submit"
          (click)="salvar()"
          class="btn btn-primary me-2"
          [disabled]="editForm.invalid || salvando"
        >
          <i class="fa fa-save fa-lg me-2"></i>
          Salvar
        </button>
      </div>
    </div>
  </div>
</main>
