.caixa-login {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}

.marca {
  border-radius: 2px;
  padding: 5px;
}

.titulo {
  display: flex;
  align-items: center;
  color: #4e4e4e;
  justify-content: center;
}

.subtitulo {
  color: #5a5a5a;
  text-align: center;
  font-size: 10px !important;
}

#logo {
  width: 60px;
  padding: 5px;
  margin: 5px;
}

::ng-deep .p-dropdown-item {
  display: flex;
  align-items: center;
}
